<a href="https://colab.research.google.com/github/mqrc81/muic-urban-closet-database/blob/main/urban_closet_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Urban Closet: FUNCTIONS

### Load Database

In [ ]:
%load_ext sql

In [6]:
%%sql

postgresql://urban_closet_user:NCicpO6dmQPkbzKKHJBgySzHjqR0oUni@dpg-ct8m8flds78s73cda6g0-a.singapore-postgres.render.com/urban_closet

In [7]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### Login

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION find_employee(p_email TEXT, p_raw_password TEXT)
RETURNS TABLE (employee_id INT, name TEXT, role_name TEXT) AS $$
BEGIN
  RETURN QUERY
  SELECT e.employee_id, e.name, r.name AS role_name
  FROM employees e
  JOIN roles r ON e.role_id = r.role_id
  WHERE e.email = p_email
  AND e.password_hash = MD5(p_raw_password);
END;
$$
LANGUAGE plpgsql;

### User Creation

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION list_roles()
RETURNS SETOF roles AS $$
BEGIN
  RETURN QUERY
  SELECT r.*
  FROM roles r;
END;
$$
LANGUAGE plpgsql;

In [ ]:
%%sql

CREATE OR REPLACE PROCEDURE create_employee(
  p_name TEXT,
  p_email TEXT,
  p_role_id INT,
  p_raw_password TEXT
) AS $$
BEGIN
  INSERT INTO employees (name, email, password_hash, role_id)
  VALUES (
    p_name,
    p_email,
    MD5(p_raw_password),
    p_role_id
  );

  RAISE NOTICE 'Employee % created successfully', p_email;
EXCEPTION
  WHEN unique_violation THEN
    RAISE EXCEPTION 'An employee with the email % already exists.', p_email;
  WHEN foreign_key_violation THEN
    RAISE EXCEPTION 'Invalid role ID: %', p_role_id;
END;
$$ LANGUAGE plpgsql;

### Items Overview

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION list_items()
RETURNS SETOF items AS $$
BEGIN
  RETURN QUERY
  SELECT i.*
  FROM items i;
END;
$$
LANGUAGE plpgsql;

### Add Item

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION list_categories()
RETURNS SETOF categories AS $$
BEGIN
  RETURN QUERY
  SELECT c.*
  FROM categories c;
END;
$$
LANGUAGE plpgsql;

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION list_brands()
RETURNS SETOF brands AS $$
BEGIN
  RETURN QUERY
  SELECT b.*
  FROM brands b;
END;
$$
LANGUAGE plpgsql;

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION list_batches()
RETURNS SETOF batches AS $$
BEGIN
  RETURN QUERY
  SELECT bt.*
  FROM batches bt;
END;
$$
LANGUAGE plpgsql;

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION list_locations()
RETURNS SETOF locations AS $$
BEGIN
  RETURN QUERY
  SELECT l.*
  FROM locations l;
END;
$$
LANGUAGE plpgsql;

In [ ]:
%%sql

CREATE OR REPLACE PROCEDURE create_item(
  p_code TEXT,
  p_price_thb INT,
  p_size size,
  p_condition condition,
  p_sex sex,
  p_batch_id INT,
  p_category_id INT,
  p_brand_id INT,
  p_purchase_id INT,
  p_location_id INT
)
AS $$
BEGIN
  INSERT INTO items (
    code,
    price_thb,
    size,
    condition,
    sex,
    batch_id,
    category_id,
    brand_id,
    purchase_id,
    location_id
  )
  VALUES (
    p_code,
    p_price_thb,
    p_size,
    p_condition,
    p_sex,
    p_batch_id,
    p_category_id,
    p_brand_id,
    p_purchase_id,
    p_location_id
  );
  RAISE NOTICE 'Item % created successfully', p_code;
EXCEPTION
  WHEN foreign_key_violation THEN
    RAISE EXCEPTION 'Invalid foreign key value. Check batch_id, category_id, brand_id, purchase_id, or location_id.';
  WHEN unique_violation THEN
    RAISE EXCEPTION 'An item with code % already exists.', p_code;
END;
$$
LANGUAGE plpgsql;

### Checkout

In [ ]:
%%sql

CREATE OR REPLACE PROCEDURE create_purchase(
  p_total_price_thb INT,
  p_employee_id INT,
  p_location_id INT,
  p_item_ids INT[]
)
AS $$
DECLARE
  v_purchase_id INT;
BEGIN
  INSERT INTO purchases (total_price_thb, purchased_at, employee_id, location_id)
  VALUES (
    p_total_price_thb,
    NOW(),
    p_employee_id,
    p_location_id
  )
  RETURNING purchase_id INTO v_purchase_id;
  UPDATE items
  SET purchase_id = v_purchase_id
  WHERE item_id = ANY(p_item_ids)
    AND purchase_id IS NULL;
  RAISE NOTICE 'Purchase % created and items % updated successfully', v_purchase_id, array_to_string(p_item_ids, ', ');
END;
$$
LANGUAGE plpgsql;