<a href="https://colab.research.google.com/github/mqrc81/muic-urban-closet-database/blob/main/urban_closet_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Urban Closet: DATA

### Load Database

In [1]:
%load_ext sql

In [2]:
%%sql

postgresql://urban_closet_user:NCicpO6dmQPkbzKKHJBgySzHjqR0oUni@dpg-ct8m8flds78s73cda6g0-a.singapore-postgres.render.com/urban_closet

### Populate Database With Dummy Data

In [ ]:
%%sql

DELETE FROM items;
DELETE FROM purchases;
DELETE FROM categories;
DELETE FROM brands;
DELETE FROM batches;
DELETE FROM locations;
DELETE FROM employees;
DELETE FROM roles;

INSERT INTO categories (category_id, name) VALUES (10001, 'Pants'), (10002, 'Shirts'), (10003, 'Dresses & Skirts'), (10004, 'Jackets & Coats'), (10005, 'Footwear'), (10006, 'Bags & Purses'), (10007, 'Hats & Accessories'), (10008, 'Jewelry'), (10009, 'Special Collections');

INSERT INTO brands (brand_id, name) VALUES (11001, 'St√ºssy'), (11002, 'Adidas'), (11003, 'Thrasher'), (11004, 'Supreme');

INSERT INTO batches (batch_id, arrived_at, total_cost_thb) VALUES (12001, NOW(), 4000);

INSERT INTO locations (location_id, name) VALUES (13001, 'Thong Lo'), (13002, 'Nana Plaza');

INSERT INTO roles (role_id, name) VALUES (14001, 'Cashier');

INSERT INTO employees (employee_id, first_name, last_name, role_id) VALUES (15001, 'Groncco', 'Ravioli', 14001);

INSERT INTO purchases (purchase_id, total_price_thb, purchased_at, employee_id, location_id) VALUES (16001, 350, NOW(), 15001, 13002);

INSERT INTO items (item_id, price_thb, size, condition, sex, batch_id, category_id, brand_id, purchase_id, location_id) VALUES (17001, 150, 'L', 'NEW', 'MALE', 12001, 10004, 11003, 16001, 13002), (17002, 200, 'XL', 'WORN', 'MALE', 12001, 10001, 11001, 16001, 13002), (17003, 120, 'UNISIZE', 'NEW', 'UNISEX', 12001, 10007, 11002, NULL, 13002), (17004, 120, 'S', 'NEW', 'FEMALE', 12001, 10004, NULL, NULL, 13002);