<a href="https://colab.research.google.com/github/mqrc81/muic-urban-closet-database/blob/main/urban_closet_init.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Urban Closet: INIT

### Load Database

In [2]:
%load_ext sql

In [3]:
%%sql

postgresql://urban_closet_user:NCicpO6dmQPkbzKKHJBgySzHjqR0oUni@dpg-ct8m8flds78s73cda6g0-a.singapore-postgres.render.com/urban_closet

### Initialize Database

In [ ]:
%%sql

CREATE TYPE size AS ENUM ('UNISIZE', 'KIDS', 'XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL');

CREATE TYPE condition AS ENUM ('NEW', 'GOOD_AS_NEW', 'WORN', 'SCRAPPY');

CREATE TYPE sex AS ENUM ('UNISEX', 'MALE', 'FEMALE');

In [ ]:
%%sql

DROP TABLE IF EXISTS items;
DROP TABLE IF EXISTS brands;
DROP TABLE IF EXISTS categories;
DROP TABLE IF EXISTS batches;
DROP TABLE IF EXISTS locations;
DROP TABLE IF EXISTS purchases;
DROP TABLE IF EXISTS employees;
DROP TABLE IF EXISTS roles;

CREATE TABLE IF NOT EXISTS items (
  item_id serial PRIMARY KEY,
  code text NOT NULL UNIQUE,
  image_url text,
  price_thb int NOT NULL,
  size size NOT NULL,
  condition condition NOT NULL,
  sex sex NOT NULL,
  batch_id int NOT NULL,
  category_id int NOT NULL,
  brand_id int,
  purchase_id int,
  location_id int NOT NULL
);

CREATE TABLE IF NOT EXISTS brands (
  brand_id serial PRIMARY KEY,
  name text NOT NULL
);

CREATE TABLE IF NOT EXISTS categories (
  category_id serial PRIMARY KEY,
  name text NOT NULL
);

CREATE TABLE IF NOT EXISTS batches (
  batch_id serial PRIMARY KEY,
  arrived_at timestamp NOT NULL,
  total_cost_thb int NOT NULL
);

CREATE TABLE IF NOT EXISTS locations (
  location_id serial PRIMARY KEY,
  name text UNIQUE NOT NULL
);

CREATE TABLE IF NOT EXISTS purchases (
  purchase_id serial PRIMARY KEY,
  total_price_thb int NOT NULL,
  purchased_at timestamp NOT NULL,
  employee_id int NOT NULL,
  location_id int NOT NULL
);

CREATE TABLE IF NOT EXISTS employees (
  employee_id serial PRIMARY KEY,
  name text NOT NULL,
  email text NOT NULL UNIQUE,
  password_hash text NOT NULL,
  role_id int NOT NULL
);

CREATE TABLE IF NOT EXISTS roles (
  role_id serial PRIMARY KEY,
  name text UNIQUE NOT NULL
);

ALTER TABLE items ADD FOREIGN KEY (batch_id) REFERENCES batches (batch_id);

ALTER TABLE items ADD FOREIGN KEY (category_id) REFERENCES categories (category_id);

ALTER TABLE items ADD FOREIGN KEY (brand_id) REFERENCES brands (brand_id);

ALTER TABLE items ADD FOREIGN KEY (purchase_id) REFERENCES purchases (purchase_id);

ALTER TABLE items ADD FOREIGN KEY (location_id) REFERENCES locations (location_id);

ALTER TABLE purchases ADD FOREIGN KEY (employee_id) REFERENCES employees (employee_id);

ALTER TABLE purchases ADD FOREIGN KEY (location_id) REFERENCES locations (location_id);

ALTER TABLE employees ADD FOREIGN KEY (role_id) REFERENCES roles (role_id);